.faq{
    padding: 50px 0;
    .faq-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .title{
            margin-bottom: 60px;
        }
        .faq-accardions{
            margin: 0 auto;
            max-width: 833px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
            .faq-accardion{
                cursor: pointer;
                width: 100%;
                .faq-accardion-header{
                    border-radius: 10px;
                    width: 100%;
                    background: rgb(255, 255, 255);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 10px 30px;
                    p{
                        font-weight: 500;
                        font-size: 18px;
                        color: #333;
                        font-family: "Montserrat", sans-serif;
                        
                    }
                    .plus{
                        cursor: pointer;
                        transition: 0.5s;
                    }
                    .active{
                        rotate: 45deg;
                    }

                }
                .faq-accardion-body{
                    font-weight: 500;
                    font-size: 16px;
                    color: #333;
                    font-family: "Montserrat", sans-serif;
                    overflow: hidden;
                    transition: all 0.8s ease-in-out;
                    max-height: 0;
                    background: #ffffcc41;
                    border-radius: 10px;
                    width: 100%;
                    p{
                        padding: 10px 30px;
                    }
                }
                .show{
                    max-height: 300px;
                }
                
            }
        }
    }
}

@media only screen and (max-width: 959px) {
    .faq{
        .faq-content{
            .title{
                font-size: 32px;
            }
        }
    }
}

@media only screen and (max-width: 639px) {
    .faq{
        padding-top: 0;
        .faq-content{
            .title{
                font-size: 28px;
                margin-bottom: 20px;
            }
            .faq-accardions{
                .faq-accardion{
                    .faq-accardion-header{
                        p{
                            font-size: 20px;
                        }
                    }
                    .faq-accardion-body{
                        p{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 479px) {
    .faq{
        .faq-content{
            .title{
                font-size: 22px;
            }
            .faq-accardions{
                .faq-accardion{
                    .faq-accardion-header{
                        p{
                            font-size: 16px;
                        }
                    }
                    .faq-accardion-body{
                        p{
                            font-size: 12px;
                        }
                    }
                }
            }
            
        }
    }
}